body {
    background-color: #ddfcf4;
  }

  hr {
    /* size: 3; */
    background-color:#ddfcf4;
    border-color:rgb(141, 119, 235);
    border-width: 5px;
    border-style: none;
    border-top-style: dotted;
    height: 0%;
    width: 10%;

  }

  img {
    height: 200px;
    border: 2px solid black;
    border-radius: 300px;
  }
  #lastone{
    border-color: rgb(180, 166, 166);
    width: 100%;
  }
  .heading{
    font-family: "Segoe print";
    text-decoration: underline;
    color: hwb(180 11% 87%);
  }
  .list{
    font-family: "Segoe print";
    color: red;
  }